@model PeddleRealmWebApp.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create new item for sell.</h2>

<form>
    <div class="form-group">
        <label for="@Model.Name">Item Name</label>
        <input type="text" class="form-control" id="itemName" placeholder="Mark Tang">
    </div>
    <div class="form-group">
        <label for="@Model.Price">Item Price</label>
        <input type="text" class="form-control" id="itemPrice" placeholder="Mark Tang">
    </div>
    <div class="form-group">
        <label for="@Model.ItemType">Item Type</label>
        @Html.DropDownListFor(m => m.ItemType, new SelectList(Model.ItemTypes, "Id", "Name"), "", new{@class = "form-control"})
    </div>

    <div class="form-group">
        <label for="@Model.Description">Item Description</label>
        <textarea class="form-control" id="itemDescription" rows="3"></textarea>
    </div>
    
    <div class="form-group">
        <label for="@Model.ItemPhoto">Upload Item Photo Image.</label>
        <input type="file" class="form-control-file" id="itemPhoto">
    </div>
</form>

