@model IEnumerable<PeddleRealmWebApp.Models.Item>
@{
    ViewBag.Title = "Index";
}
<header>
    <h2>Welcome Admin.</h2>

</header>

@Html.ActionLink("Add new item for sale.", "Create")

    <div class="row" id="itemRow">
        @foreach (var item in Model)
        {
            <column class="col-sm-3" id="itemContainer">
                <img src="/Content/Images/UserPhotos/@item.ItemPhoto" class="img-thumbnail" alt="" id="itemPhotoDisplay"/>               
                <a href="@Url.Action("Edit", "Admin", new {id = item.Id})" id="itemActions">
                    Edit |
                </a>                
                <a href="#" id="itemActions">Delete</a>
                <div class="content" id="itemContent">
                    <h3>@item.Name</h3> 
                    <h4>@item.Price</h4>
                    <p>@item.Description</p>
                </div>
            </column>
        }
    </div>


