@model PeddleRealmWebApp.Models.Item
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="container-fluid">
    <div class="container">
        <img src="/Content/Images/UserPhotos/@Model.ItemPhoto" class="img-fluid" alt="Responsive image" width="300px" height="300px"/>
    </div>
    <div class="container">
        <h4 class="title">@Model.Name</h4>
        <h5>@Model.Price</h5>
        <p>@Model.Description</p>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Edit","Items", new {id = @Model.Id})" class="btn btn-info">Edit</a>
            <a href="#" class="btn btn-link">Delete</a>
            
            
        }
    </div>
</div>

