@model PeddleRealmWebApp.Models.Item
@{
    ViewBag.Title = "Details";
}

    <div class="col" id="itemDetailColumn">
        <h2>Details</h2>
        <img src="/Content/Images/UserPhotos/@Model.ItemPhoto" class="img-fluid" alt="Responsive image" width="200px" height="200px" />
        <h4 class="title">@Model.Name</h4>
        <h5>@Model.Price</h5>
        <p>@Model.Description</p>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Edit", "Admin", new {id = @Model.Id})" class="btn btn-info">Edit</a>
            <a href="#" class="js-cancel-item" data-item-id="@Model.Id">
                Delete
            </a>
        }
    <p class="button">
        @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = Model.Id }, "")
    </p>
    </div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-item").click(function (e) {
                var link = $(e.target);

                if (confirm("Are you sure you want to delete this item?")) {
                    $.ajax({
                            url: "/api/item/" + link.attr("data-item-id"),
                            method: "DELETE"
                        })
                        .done(function() {
                            link.parents("div").fadeOut(function() {
                                $(this).remove();
                            });
                        })
                        .fail(function() {
                            alert("Something failed!");
                        });
                }
            });
        });
    </script>
}

